/* CSS by Ellen Hales */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset (DONE) */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles (DONE) */
.skiplink {
    position: absolute;
    left: -999px;
    height: 0;
    width: 0;
}
.skiplink:focus {
    top: 1em;
    left: 1em;
    display: block;
    padding: 0.5em;
}

/* ///ADD/// Navigation Styles */
/*body styles*/
body{
   margin: 0;
   padding: 0; 
   background-color: var(--watchdog-white);
   line-height: 1.5;
}

/*header styles*/
header {
  background-color:var(--blue-bulletin); 
  padding: 1rem 2rem;
  padding-bottom: 1.2rem;
}


header h1, header p {
  color: var(--watchdog-white);
}

h1 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

#main-content h2 {
  margin-bottom: 0;
}

#main-content p {
  margin-top: 0.5rem;
}

/*********** NAV BAR FOR SMALL SCREENS ************/
/* anchors so button is right at bottom */
.mobile-nav {
  position: relative;
}

.menu-button {
  display: block;
  width: 100%;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  box-sizing: border-box;
}

.menu-button:hover {
  border: 0.5px solid var(--news-flash);
  background-color: var(--blue-bulletin);
}

.menu { 
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  margin-top: 0.25rem;
  background-color: var(--blue-bulletin);
}

#menu-toggle:checked + .menu-button + .menu {
  display: block;
}

.menu li {
  margin: 0.25rem;
  background-color: var(--news-flash);
}

.menu li:hover {
  border: 0.5px solid var(--news-flash);
  background-color: var(--blue-bulletin);
}

.menu a {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  color: var(--watchdog-white);
  transition: var(--transition);
}

/***** NAV FOR MEDIUM & LARGE ****/

/* ADD MEDIA QUERY */
@media (min-width: 620px) {

  .menu-button {
    display: none;
  }

  .menu {
    display: flex;
    position: static;
    gap: 1rem;
  }

  /* make buttons red */
  .menu li {
    background-color: var(--news-flash);
  }

  .menu a {
    display: flex;
    color: var(--watchdog-white);
  }
}



/* ///ADD/// Global Layout Styles */

#main-content {
  padding: 1rem 2rem;
}

/****** Breaking News Styles *****/
#breaking-news div {
  background-color: var(--news-flash);
  border: 1px solid black;
  padding: 1rem;
  color: var(--watchdog-white);
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
  margin-top: 0.5rem;
}

#breaking-news div:hover {
  transform: scale(1.05);
}

#breaking-news div h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--watchdog-white);
}

#breaking-news div p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

#breaking-news div video {
  width: 100%;
  display: block;
  padding-top: 0.5px;
}

/****** Articles Styles *****/

#articles div {
  border: 1px solid var(--story-subtitle);
  padding: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
  margin-top: 0.5rem;
}

#articles div:hover {
  transform: scale(1.05);
}

#articles div h3 {
  margin-top: 0;
  padding-bottom: 0.4rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--story-subtitle);
}

#articles div p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

/****** Form styles *****/

form {
  background-color: var(--news-flash);
  border: 1px solid black;
  padding: 1.25rem;
  margin: 1.5rem 0 2rem 0.5rem;
  box-shadow: var(--shadow);
  color: var(--watchdog-white);
  margin-top: 0.5rem;
}

form label {
  display: block;
  margin-bottom: 0.25rem;
}

form input[type="text"], form input[type="tel"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
  border: 0.5px solid grey;
  border-radius: 3px;
}

form fieldset {
  border: 1px solid var(--blue-bulletin);
  padding-bottom: 0;
}

form fieldset div {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

#subscribe {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  border: none;
  cursor: pointer;
}

#subscribe:hover{
  border: 1px solid var(--truth-text);
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}

/****** Footer Styles *****/


footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  /*margin-top: 1rem;*/
  padding: 2rem;
  padding-bottom: 0.5rem;
}

footer h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer .socials {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-decoration: none;
}

footer .socials:hover {
  border: 0.5px solid var(--news-flash);
  background-color: var(--blue-bulletin);
}

footer p {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}




/* ///ADD/// Global Text Styles */
h1, h2, h3, .tagline {
  font-family: var(--font-heading);
}

h1, h2, h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p, a {
  font-family: var(--font-body);
}

h1 {
  font-variation-settings: "wght" 300,
  "wdth" 80;

  font-size: 3rem;
}

.tagline {
  font-variation-settings: "wght" 500,
  "wdth" 100;
}

main .tagline {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menu a {
  font-variation-settings: "wght" 600,
  "wdth" 100;
  font-size: 1rem;
}

.menu-button {
  font-family: var(--font-body);
  font-variation-settings: "wght" 600,
  "wdth" 100;
  font-size: 1rem;
}


h2, h3 {
  font-variation-settings: "wght" 200;
}



h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

button, input[type="submit"], .menu-button, .menu a, .socials {
  text-transform: uppercase;
}

/* ///ADD/// medium styles 620px */
@media (min-width: 620px) {

  #breaking-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#breaking-news h2 {
  grid-column: 1 / -1;
}

#articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  row-gap: 0.05rem;
}

#articles div {
  margin-top: 0;
}

#articles h2 {
  grid-column: 1 / -1;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

form label[for="name"] {
  grid-column: 1;
  grid-row: 1;
}

form #name {
  grid-column: 1;
  grid-row: 2;
}

form label[for="phone"] {
  grid-column: 2;
  grid-row: 1;
}

form #phone {
  grid-column: 2;
  grid-row: 2;
}


form fieldset, form #subscribe  {
  grid-column: 1 / -1;
}

form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

form fieldset div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 0.35rem;
}


}

/* ///ADD/// large styles 920px */
@media (min-width: 920px) {
  #articles {
    grid-template-columns: repeat(3, 1fr);
  }

}

/* ///ADD/// x-large styles 1024px (DONE) */
@media (min-width: 1024px) {
  #main-content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  header * {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  }

  footer * {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  }

}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body:not(.light-mode) {
    background-color: var(--truth-text);
    color: var(--watchdog-white)
  }
}

@media (prefers-color-scheme: light) {
  body:not(.dark-mode) {
    background-color: var(--watchdog-white);
    color: var(--truth-text);
  }
}

@media (prefers-reduced-motion: reduce) {
  * { 
  animation: none;
  transition: none;
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  nav.mobile-nav:has(#menu-toggle:checked) .menu {
    display:block;
  }
}